/*Formulario de cambio de contraseña*/
form{
    padding: 1%;
    border-radius: 10px;
    position: absolute;
    left:40%;top:30%;
    background-color: #D9D9D9;
  }
td{
padding: 0px 0px 10px 0px;
}