/*Global*/
*{
    box-sizing: border-box;
    font-family: sans-serif;
}
/*Cabecero*/
header{
    display: flex;
    justify-content: center;
}
header>h1{
    font-size: 5em;
}
/*Contenido*/
section{
    margin-top: 50px;
    margin-bottom: 10%;
}
section>a{
    background-color: gray !important;
    padding: 15px;
    margin-left: 20px;
    border-radius: 10px;
}
/*Super globales*/
#super{
    width: 49vw;
    box-sizing: content-box;
    margin-left: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(194, 181, 137);
}
#super>h3{
    margin-bottom: 30px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
}
#super>table{
    width: 48.65vw;
}
/*pie de pagina*/
footer{
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 1vh;
    padding-left: 10px;
    position: fixed;
    bottom: 0%;
    background-color: #D9D9D9;
}
footer>p{
    display: inline;
}
footer img{
    width: 50px;
}
footer a:nth-of-type(2){
    margin-left: 50%;
}