/*Global*/
*{
    box-sizing: border-box;
    font-family: sans-serif;
}
/*Cabecero*/
header{
    display: flex;
    justify-content: center;
}
header>h1{
    font-size: 5em;
}
/*Contenido*/
section{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10%;
}
section h3{
    text-align: center;
    font-size: 2.5em;
}
section a,input{
    margin-left: 8px;
    padding: 1.5vh 5vw 2vh 0.5vh;
    border-radius: 8px;
    background-color: #666666;
    text-decoration: none;
    color: white;
}
input{
    border: none;
    margin-top: 40px;
    font-size: 1em;
}
section>div{
    width: 13vw;
    margin-left: 85%;
    padding: 30px;
    background: rgb(247, 244, 107);
}
/*pie de pagina*/
footer{
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 1vh;
    padding-left: 10px;
    position: fixed;
    bottom: 0%;
    background-color: #D9D9D9;
}
footer>p{
    display: inline;
}
footer img{
    width: 50px;
}
footer a:nth-of-type(2){
    margin-left: 50%;
}